.table-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
table{
  width: 80% !important;
}
.create-user{
  width: 80%;
  margin: 0 auto;
}
.btn-edit{
  text-decoration: none;
}
.align-middle{
   font-size: 2rem;
   font-weight: bolder;
   margin: .5rem 50%;
} 